body{
    background-color: #F5F5F5;
}
.container{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1519px;
    grid-template-rows: 600px 600px 2200px 700px 600px 450px 100px;
}
.box1{
    background-color: black;
    display: inline;
    background-image: url("./static/bg.svg");
}

.aboutme{
    height: 100%;
    width: 1000px;
    position: relative;
    left: 519px;

}
.box2{
    background-color: #F5E8B7;
    display: flex;
    justify-content: center;
}
.picskills{
    width: 760px;
    height: 600px;
    justify-content: center;
    align-items: center;
    font-family: 'Dela Gothic One', cursive;
    position: relative;
    background-color: #313866;
}
.shortpara{
    height: 600px;
    width: 760px;
    display: flex;
    background-color: #FFDBC3;
}
.box3{
    background-color: #73BBC9;
    width: 100%;
    display: grid;
    grid-template-rows: 100px repeat(6, 350px);
    gap: 70px;
}
.two, .three, .four, .five, .six{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 
}
.one{
    background-color: #001524;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 165px;
}
.para1{
    width: 600px;
    height: 100%;
    background-color: #F5F5F5;
    box-shadow: 15px 15px 20px #191717;
    border-radius: 5%;
}
.img1{
    width: 400px;
    height: 100%;
}
.text1{
    height: 50%;
    width: 600px;
    font-family: 'Luckiest Guy', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 50px;
    text-shadow: 10px 5px 20px black;
    text-decoration:underline;
    
}
.text2{
    height: 50%;
    width: 400px; 
    display: flex;
    font-family: 'Luckiest Guy', cursive;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 50px;
    text-shadow: 5px 5px 15px black;
    text-decoration:underline;
}
.box3{
    background-image: url("./static/bg2.svg");
    background-size: cover;
    background-attachment:scroll;
}
.box4{
    width: 100%;
    display: grid;
    grid-template-rows:150px 500px;
    background-image: url("./static/bg3.svg");
    
}
.title2{
    background-color: #001524;
    font-family: 'Luckiest Guy', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 80px;
    text-shadow: 5px 5px 15px black;
    text-decoration:underline;
}   
.full{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    position: relative;
    gap: 20px;
}
.myone{

    width: 700px;
    height: 100%;
}
.mytwo{
 
    width: 700px;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 240px);
    gap: 20px;
}

.two1, .two2{
    width: 100%;
}
.box5{
    display: grid;
    grid-template-rows: 150px 450px;
}
.charts{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
#chart1, #chart2{
    height: 100%;
    width: 600px;
}
.box6{
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.explain1, .explain2{
    border: 3px solid #F1EFEF;
    height: 450px;
    width: 600px;
    display: grid;
    grid-template-rows: 100px 350px;
    box-shadow: 15px 15px 20px black;
    position: relative;
    left: 100px;
    bottom: 20px;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
}
.box7{
    background-color: #191825;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.info1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 50px;
    transition: transform 1.2s ease-in-out 1.2s;
}
.media1, .media2, .media3{
    width: 75px;
    height: 100%;
}
.media1:hover{
    transform:translateY(-15px);
}
.media2:hover{
    transform:translateY(-15px);
}
.media3:hover{
    transform:translateY(-15px);
}
.myname{
    width: 300px;
    height: 50px;
}
.info3{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
